.aboutUs{
    align-items: center;
    display: grid;
    float: right;
    height: 100%;
    text-align: center;
    width: 80%;
}
.aboutUs-1{
    margin: 0 auto;
    width: 40%;
}
.aboutUs-1-1{
    background-image: url('../assets/restaurant1.jpg');
    background-size: cover;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 10%;
    width: 50%;
}
@media only screen and (max-width:860px){
    .aboutUs{
        float: left;
        width: 100%;
        transform: translateY(15%);
    }
}

@media only screen and (max-width:420px){
    .aboutUs{
        transform: translateY(25%);
    }
    .aboutUs-1{
        width: 100%;
    }
    .aboutUs-1-1{
        width: 90%;
    }
}
@media only screen and (max-width:320px),screen and (max-height: 660px){
    .aboutUs-1-1{
        width: 50%;
    }
}


