.startPage-1{
    background-image: url('../assets/food1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: grid;
    float: right;
    height: 100%;
    position: relative;
    width: 80%;
    opacity: 1;
    transition: opacity 2s;
}
.fadeOut{
    opacity: 0;
}
.fadeIn{
    opacity: 1;
}
.changeImgButtons{
    align-self: end;
    display: grid;
    height: 100px;
    align-content: center;
}
.button{
    border: 1px solid salmon;
    border-radius: 50%;
    background-color: salmon;
    height: 20px;
    margin: 0 auto;
    width: 20px;
}
.button:hover{
    transform: scale(1.5)
}

@media only screen and (max-width:860px){
    .startPage-1{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        float: left;
        height: 80%;
        width: 100%;
        top: 15%; 
    }
}

@media only screen and (max-width:420px){
    .startPage-1{
        top: 25%;
    }
}