.startPage-1{
    background-image: url('../assets/food1.jpg');
    background-size: cover;
    display: grid;
    float: right;
    height: 100%;
    position: relative;
    width: 80%;
    opacity: 1;
    transition: opacity 2s;
}
.fadeOut{
    opacity: 0;
}
.fadeIn{
    opacity: 1;
}
.changeImgButtons{
    align-self: end;
    display: grid;
    height: 100px;
    align-content: center;
}
.button{
    border: 1px solid salmon;
    border-radius: 50%;
    background-color: salmon;
    height: 20px;
    margin: 0 auto;
    width: 20px;
}
.button:hover{
    transform: scale(1.5)
}
